services:
  db:
    image: postgres:15
    container_name: qna_postgres
    restart: always

    env_file:
      - .env.docker

    ports:
      - "5433:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data


  app:
    build: .
    container_name: qna_app
    restart: always

    depends_on:
      - db

    env_file:
      - .env.docker

    ports:
      - "8080:8080"


volumes:
  postgres_data:
